.icon{
	width: 15%;
}
/*on stands for Olivier Nowak, showing which tags are mine*/
.on-body{
	background-image: url(../images/on-bg.jpg);
	background-repeat: no-repeat; 
    	background-size: cover;      
   	 background-position: center;
}
.on-p{
	background-color: #03026f;
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
 	font-style: normal;
}
.on-ul{
	color: white;
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
 	font-style: normal;
}
.on-text-bg{
	background-color: rgba(3, 2, 111, 0.5);
	height: 100%;

}
.on-h1{
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: #03026f;
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Merriweather", serif;
  	font-weight: 400;
 	font-style: normal;
}
.on-h2{
	background-color: #03026f;
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Merriweather", serif;
 	font-weight: 400;
  	font-style: normal;
}
.on-h3{
	background-color: #03026f;
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Merriweather", serif;
  	font-weight: 400;
  	font-style: normal;
}
.on-img{
	width: 100%;
	height: 100%;
}
footer{
	background-color: #01003a;
}
.on-label{
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
 	font-style: normal;
	
}
.on-contents{
	background-color: rgba(3, 2, 111, 0.5);
	
	margin-left: 10%;
	padding-top: 10%;
	padding-bottom: 50%;
}
.on-contents-list{
	font-size: 16px;
	color: white;
	text-shadow: black 2px 2px;
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
 	font-style: normal;
}
.on-contact-us{
	background-color: rgba(3, 2, 111, 0.5);
	margin-right: 10%;
	padding-top: 10%;
	padding-bottom: 23%;
}
.navbar{
	background-color: #01003a;
	color: white;
}
.nav-link{
	color: white;
	font-family: "Merriweather", serif;
  	font-weight: 400;
  	font-style: normal;
	
}
.nav-link:hover{
	color: white;	
	font-family: "Merriweather", serif;
  	font-weight: 400;
  	font-style: normal;
}
.on-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px; 
}
.on-grid img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
